<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" />
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <title>精选器材</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="../static/images/favicon.ico" rel="Shortcut Icon">
    <link href="../static/css/global.css" rel="stylesheet">
</head>
<body>
<div class="global">
    <div class="page page-current" id="page_choice">
        <header class="bar bar-nav" id="header">
            <a href="javascript:;" title="" class="icons icons-more pull-left external"></a>
            <h1 class="title"><img class="head-img" src="../static/images/head-logo.png"> </h1>
            <a href="javascript:;" title="" class="icons icons-search pull-right external"></a>
        </header>
        <div class="content" id="content">
            <div class="content-title">
                <i class="icons icons-choice-tit"></i>
                <span class="tit">精选器材</span>
            </div>
            <div class="product-tab">
                <div class="buttons-tab">
                    <a href="#tab1" class="tab-link active button">综合</a>
                    <a href="#tab2" class="tab-link button">跑步机</a>
                    <a href="#tab3" class="tab-link button">健身车</a>
                    <a href="#tab4" class="tab-link button">力量器材</a>
                    <a href="#tab5" class="tab-link button">椭圆机</a>
                </div>
                <div class="content-block">
                    <div class="tabs">
                        <div id="tab1" class="tab active">
                            <div class="content-block">
                                <ul class="choice-list">
                                    <li>
                                        <div class="img"><img src="../static/temp/choice.jpg"> </div>
                                        <p class="tit">不插电却让你跑到“炸裂”的跑步机Ari...</p>
                                    </li>
                                    <li>
                                        <div class="img"><img src="../static/temp/choice.jpg"> </div>
                                        <p class="tit">不插电却让你跑到“炸裂”的跑步机Ari...</p>
                                    </li>
                                    <li>
                                        <div class="img"><img src="../static/temp/choice.jpg"> </div>
                                        <p class="tit">不插电却让你跑到“炸裂”的跑步机Ari...</p>
                                    </li>
                                    <li>
                                        <div class="img"><img src="../static/temp/choice.jpg"> </div>
                                        <p class="tit">不插电却让你跑到“炸裂”的跑步机Ari...</p>
                                    </li>
                                    <li>
                                        <div class="img"><img src="../static/temp/choice.jpg"> </div>
                                        <p class="tit">不插电却让你跑到“炸裂”的跑步机Ari...</p>
                                    </li>
                                    <li>
                                        <div class="img"><img src="../static/temp/choice.jpg"> </div>
                                        <p class="tit">不插电却让你跑到“炸裂”的跑步机Ari...</p>
                                    </li>
                                    <li>
                                        <div class="img"><img src="../static/temp/choice.jpg"> </div>
                                        <p class="tit">不插电却让你跑到“炸裂”的跑步机Ari...</p>
                                    </li>
                                    <li>
                                        <div class="img"><img src="../static/temp/choice.jpg"> </div>
                                        <p class="tit">不插电却让你跑到“炸裂”的跑步机Ari...</p>
                                    </li>
                                </ul>
                                <button type="button" class="button button-more"><span class="icons icons-arrow"></span> </button>
                            </div>
                        </div>
                        <div id="tab2" class="tab">
                            <div class="content-block">
                                <ul class="choice-list">
                                    <li>
                                        <div class="img"><img src="../static/temp/choice.jpg"> </div>
                                        <p class="tit">不插电却让你跑到“炸裂”的跑步机Ari...</p>
                                    </li>
                                </ul>
                                <button type="button" class="button button-more"><span class="icons icons-arrow"></span> </button>
                            </div>
                        </div>
                        <div id="tab3" class="tab">
                            <div class="content-block">
                                <ul class="choice-list">
                                    <li>
                                        <div class="img"><img src="../static/temp/choice.jpg"> </div>
                                        <p class="tit">不插电却让你跑到“炸裂”的跑步机Ari...</p>
                                    </li>
                                </ul>
                                <button type="button" class="button button-more"><span class="icons icons-arrow"></span> </button>
                            </div>
                        </div>
                        <div id="tab4" class="tab">
                            <div class="content-block">
                                <ul class="choice-list">
                                    <li>
                                        <div class="img"><img src="../static/temp/choice.jpg"> </div>
                                        <p class="tit">不插电却让你跑到“炸裂”的跑步机Ari...</p>
                                    </li>
                                </ul>
                                <button type="button" class="button button-more"><span class="icons icons-arrow"></span> </button>
                            </div>
                        </div>
                        <div id="tab5" class="tab">
                            <div class="content-block">
                                <ul class="choice-list">
                                    <li>
                                        <div class="img"><img src="../static/temp/choice.jpg"> </div>
                                        <p class="tit">不插电却让你跑到“炸裂”的跑步机Ari...</p>
                                    </li>
                                </ul>
                                <button type="button" class="button button-more"><span class="icons icons-arrow"></span> </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="../static/js/zepto.min.js"></script>
<script src="../static/js/zepto.modules.js"></script>
<script src="../static/js/global.js"></script>
<script>
    //

</script>
</body>
</html>