<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title>邮箱</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no" >
    <meta name="format-detection" content="telephone=yes" >
    <meta name=renderer content=webkit|ie-comp|ie-stand>
    <meta http-equiv=X-UA-Compatible content="IE=Edge,chrome=1">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="cache-control" content="no-cache">
    <link rel="dns-prefetch" href="">
    <link rel="stylesheet" href="../../static/css/global.css" >
</head>
<body>
<div class="global">
    <div class="page page-current" id="">
        <div class="content" id="">
            <div class="email-prompt">
                <p class="txt">如果邮件不能正常显示，<a href="javascript:;" class="external" title="">请点击此处</a> </p>
                <a href="javascript:;" class="external btn">取消订阅</a>
                <a href="javascript:;" class="external btn">举报</a>
            </div>
            <div class="email-logo">
                <img class="logo" src="../../static/shuhua/logo.png" >
                <img src="../../static/shuhua/qrcode.jpg" class="qrcode">
            </div>
            <div class="email-banner"></div>
            <!-- content 标题 -->
            <div class="">内容精选</div>
            <div class="email-product">
                <ul class="row">
                    <li class="col-50">
                        <div class="img"><img src="../../static/shuhua/product03.jpg"> </div>
                        <p class="tit">亿健（YIJIAN） 跑步机 家用 静音多功能折叠G900...</p>
                    </li>
                    <li class="col-50">
                        <div class="img"><img src="../../static/shuhua/product03.jpg"> </div>
                        <p class="tit">亿健（YIJIAN） 跑步机 家用 静音多功能折叠G900...</p>
                    </li>
                    <li class="col-50">
                        <div class="img"><img src="../../static/shuhua/product03.jpg"> </div>
                        <p class="tit">亿健（YIJIAN） 跑步机 家用 静音多功能折叠G900...</p>
                    </li>
                    <li class="col-50">
                        <div class="img"><img src="../../static/shuhua/product03.jpg"> </div>
                        <p class="tit">亿健（YIJIAN） 跑步机 家用 静音多功能折叠G900...</p>
                    </li>
                </ul>
            </div>
            <!-- content 标题 -->
            <div class="">业界新闻</div>
            <div class="email-news">
                <ul class="">
                    <li class="">
                        <div class="img"><img src="../../static/shuhua/news02.jpg"> </div>
                        <p class="tit">亿健（YIJIAN） 跑步机 家用 静音多功能折叠G900...</p>
                    </li>
                    <li class="">
                        <div class="img"><img src="../../static/shuhua/news02.jpg"> </div>
                        <p class="tit">亿健（YIJIAN） 跑步机 家用 静音多功能折叠G900...</p>
                    </li>
                    <li class="">
                        <div class="img"><img src="../../static/shuhua/news02.jpg"> </div>
                        <p class="tit">亿健（YIJIAN） 跑步机 家用 静音多功能折叠G900...</p>
                    </li>
                    <li class="">
                        <div class="img"><img src="../../static/shuhua/news02.jpg"> </div>
                        <p class="tit">亿健（YIJIAN） 跑步机 家用 静音多功能折叠G900...</p>
                    </li>
                </ul>
            </div>
            <!-- content 标题 -->
            <div class="">合作伙伴</div>
            <div class="partner-inner">
                <div class="partner">
                    <p class="partner-ico sina" title="新浪"><i class="icons icons-sina"></i> </p>
                    <p class="partner-ico cpic" title="太平洋保险"><i class="icons icons-cpic"></i></p>
                    <p class="partner-ico renmin-university" title="中国人民大学"><i class="icons icons-renmin-university"></i></p>
                    <p class="partner-ico cmb" title="中国民生银行"><i class="icons icons-cmb"></i></p>
                    <p class="partner-ico cctv" title="央视网"><i class="icons icons-cctv"></i></p>
                    <p class="partner-ico beijing-university" title="北京大学"><i class="icons icons-beijing-university"></i></p>
                </div>
            </div>
            <div class="footer">
                <div class="quick-link">
                    <a href="javascript:;" title="" class="external">
                        <i class="icons icons-fhome"></i>
                        <p class="txt">网站首页</p>
                    </a>
                    <a href="javascript:;" title="" class="external">
                        <i class="icons icons-fproduct"></i>
                        <p class="txt">产品评测</p>
                    </a>
                    <a href="javascript:;" title="" class="external">
                        <i class="icons icons-fequipment"></i>
                        <p class="txt">精选器材</p>
                    </a>
                    <a href="javascript:;" title="" class="external">
                        <i class="icons icons-fbrand"></i>
                        <p class="txt">品牌大全</p>
                    </a>
                    <a href="javascript:;" title="" class="external">
                        <i class="icons icons-ffocus"></i>
                        <p class="txt">行业聚焦</p>
                    </a>
                    <a href="javascript:;" title="" class="external">
                        <i class="icons icons-fcategory"></i>
                        <p class="txt">器材分类</p>
                    </a>
                    <a href="javascript:;" title="" class="external">
                        <i class="icons icons-fvideo"></i>
                        <p class="txt">精彩视频</p>
                    </a>
                    <a href="javascript:;" title="" class="external">
                        <img src="../../static/shuhua/qrcode.jpg" class="foot-qrcode">
                    </a>
                </div>
                <p class="copyright">中国健身器材网（www.jsqcw.com.cn）版权所有</p>
                <p class="telephone">电话：010-53669011或拨打18710071566</p>
            </div>

        </div>
    </div>
</div>
<script src="../../static/js/zepto.min.js"></script>
<script src="../../static/js/global.js"></script>
<script type="text/javascript">
    $(function() {

    });
</script>
</body>
</html>