<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" />
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <title>舒华</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="../static/images/favicon.ico" rel="Shortcut Icon">
    <link href="../static/css/global.css" rel="stylesheet">
</head>
<body>
<div class="global">
    <div class="page page-current" id="page_index">
        <header class="bar bar-nav" id="header">
            <a href="javascript:;" title="" class="icons icons-more pull-left external"></a>
            <h1 class="title">北京领越有限公司</h1>
            <a href="javascript:;" title="" class="icons icons-search pull-right external"></a>
        </header>
        <div class="content has-toolbar" id="content">
            <div class="company-trunk">
                <strong class="tit">舒华</strong>
                <img src="../static/images/logo.png" title="" />
                <div class="company-info">
                    <ul>
                        <li>
                            <span class="icons icons-year"></span>
                            <span class="val">创始年代：1990</span>
                        </li>
                        <li>
                            <span class="icons icons-headimg"></span>
                            <span class="val">创始人：罗成</span>
                        </li>
                        <li>
                            <span class="icons icons-address"></span>
                            <span class="val">总部所在：中国    福建   厦门</span>
                        </li>
                        <li>
                            <span class="icons icons-category"></span>
                            <span class="val">产品分类：商品器材   家用器材</span>
                        </li>
                        <li>
                            <span class="icons icons-link"></span>
                            <span class="val">官方网址：<a href="javascript:;" title="" class="external link">http://www.jsqcw.com.cn/</a> </span>
                        </li>
                        <li>
                            <span class="icons icons-phone"></span>
                            <span class="val">联系方式：<a href="javascript:;" class="external phone">010-53669011</a> </span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="content-title">
                <i class="icons icons-company-tit"></i>
                <span class="tit">公司介绍</span>
            </div>
            <div class="company-introduce">
                <div class="img"></div>
                <div class="dec">新品一台5秒内就能完成折叠的跑步机小乔X3了解一下新品一台5秒内就能完成折叠的跑步机小乔X3了解一下。新品一台5秒内 就能完成折叠的跑步机小乔X3了解一下。新品│一台 5秒内就能完成折叠的跑步机，小乔X3了解一下。新品│一台5 秒内就能完成折叠...<a href="javascript" title="" class="external">【查看详情】</a></div>
            </div>
            <div class="content-title">
                <i class="icons icons-product-tit"></i>
                <span class="tit">产品展示</span>
            </div>
            <div class="product-tab">
                <div class="buttons-tab">
                    <a href="#tab1" class="tab-link active button">综合</a>
                    <a href="#tab2" class="tab-link button">跑步机</a>
                    <a href="#tab3" class="tab-link button">健身车</a>
                    <a href="#tab4" class="tab-link button">力量器材</a>
                    <a href="#tab5" class="tab-link button">椭圆机</a>
                </div>
                <div class="content-block">
                    <div class="tabs">
                        <div id="tab1" class="tab active">
                            <div class="content-block">
                                <ul class="product-list">
                                    <li>
                                        <div class="img"><img src="../static/temp/product01.jpg"> </div>
                                        <strong class="tit">亿健（YIJIAN） 跑步机 家用 静音多功能折叠G900...</strong>
                                        <p class="price">参考价 ：¥9999</p>
                                    </li>
                                    <li>
                                        <div class="img"><img src="../static/temp/product02.jpg"> </div>
                                        <strong class="tit">亿健（YIJIAN） 跑步机 家用 静音多功能折叠G900...</strong>
                                        <p class="price">参考价 ：¥9999</p>
                                    </li>
                                    <li>
                                        <div class="img"><img src="../static/temp/product01.jpg"> </div>
                                        <strong class="tit">亿健（YIJIAN） 跑步机 家用 静音多功能折叠G900...</strong>
                                        <p class="price">参考价 ：¥9999</p>
                                    </li>
                                    <li>
                                        <div class="img"><img src="../static/temp/product02.jpg"> </div>
                                        <strong class="tit">亿健（YIJIAN） 跑步机 家用 静音多功能折叠G900...</strong>
                                        <p class="price">参考价 ：¥9999</p>
                                    </li>
                                    <li>
                                        <div class="img"><img src="../static/temp/product01.jpg"> </div>
                                        <strong class="tit">亿健（YIJIAN） 跑步机 家用 静音多功能折叠G900...</strong>
                                        <p class="price">参考价 ：¥9999</p>
                                    </li>
                                </ul>
                                <button type="button" class="button button-more">查看更多</button>
                            </div>
                        </div>
                        <div id="tab2" class="tab">
                            <div class="content-block">
                                <ul class="product-list">
                                    <li>
                                        <div class="img"><img src="../static/temp/product02.jpg"> </div>
                                        <strong class="tit">亿健（YIJIAN） 跑步机 家用 静音多功能折叠G900...</strong>
                                        <p class="price">参考价 ：¥9999</p>
                                    </li>
                                </ul>
                                <button type="button" class="button button-more">查看更多</button>
                            </div>
                        </div>
                        <div id="tab3" class="tab">
                            <div class="content-block">
                                <ul class="product-list">
                                    <li>
                                        <div class="img"><img src="../static/temp/product01.jpg"> </div>
                                        <strong class="tit">亿健（YIJIAN） 跑步机 家用 静音多功能折叠G900...</strong>
                                        <p class="price">参考价 ：¥9999</p>
                                    </li>
                                </ul>
                                <button type="button" class="button button-more">查看更多</button>
                            </div>
                        </div>
                        <div id="tab4" class="tab">
                            <div class="content-block">
                                <ul class="product-list">
                                    <li>
                                        <div class="img"><img src="../static/temp/product02.jpg"> </div>
                                        <strong class="tit">亿健（YIJIAN） 跑步机 家用 静音多功能折叠G900...</strong>
                                        <p class="price">参考价 ：¥9999</p>
                                    </li>
                                </ul>
                                <button type="button" class="button button-more">查看更多</button>
                            </div>
                        </div>
                        <div id="tab5" class="tab">
                            <div class="content-block">
                                <ul class="product-list">
                                    <li>
                                        <div class="img"><img src="../static/temp/product01.jpg"> </div>
                                        <strong class="tit">亿健（YIJIAN） 跑步机 家用 静音多功能折叠G900...</strong>
                                        <p class="price">参考价 ：¥9999</p>
                                    </li>
                                </ul>
                                <button type="button" class="button button-more">查看更多</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-title">
                <i class="icons icons-news-tit"></i>
                <span class="tit">健身器材网资讯</span>
            </div>
            <div class="news-list-inner">
                <ul class="news-list">
                    <li>
                        <div class="img"><img src="../static/temp/news.jpg"> </div>
                        <strong class="tit">新品│一台5秒内就能完成折叠的跑步 机，小乔X3了解一下。</strong>
                    </li>
                    <li>
                        <div class="img"><img src="../static/temp/news.jpg"> </div>
                        <strong class="tit">新品│一台5秒内就能完成折叠的跑步 机，小乔X3了解一下。</strong>
                    </li>
                    <li>
                        <div class="img"><img src="../static/temp/news.jpg"> </div>
                        <strong class="tit">新品│一台5秒内就能完成折叠的跑步 机，小乔X3了解一下。</strong>
                    </li>
                    <li>
                        <div class="img"><img src="../static/temp/news.jpg"> </div>
                        <strong class="tit">新品│一台5秒内就能完成折叠的跑步 机，小乔X3了解一下。</strong>
                    </li>
                    <li>
                        <div class="img"><img src="../static/temp/news.jpg"> </div>
                        <strong class="tit">新品│一台5秒内就能完成折叠的跑步 机，小乔X3了解一下。</strong>
                    </li>
                    <button type="button" class="button button-more">查看更多</button>
                </ul>
            </div>
        </div>
        <nav class="bar bar-tab">
            <a class="tab-item external active" href="javascript:;">
                <span class="icons icons-home"></span>
                <span class="tab-label">首页</span>
            </a>
            <a class="tab-item external" href="javascript:;">
                <span class="icons icons-introduce"></span>
                <span class="tab-label">介绍</span>
            </a>
            <a class="tab-item external" href="javascript:;">
                <span class="icons icons-product"></span>
                <span class="tab-label">产品</span>
            </a>
            <a class="tab-item external" href="javascript:;">
                <span class="icons icons-news"></span>
                <span class="tab-label">资讯</span>
            </a>
            <a class="tab-item external" href="javascript:;">
                <span class="icons icons-contact"></span>
                <span class="tab-label">联系</span>
            </a>
        </nav>
    </div>
</div>
<script src="../static/js/zepto.min.js"></script>
<script src="../static/js/zepto.modules.js"></script>
<script src="../static/js/global.js"></script>
<script>
    //

</script>

</body>
</html>