<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" />
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <title>舒华</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="../static/images/favicon.ico" rel="Shortcut Icon">
    <link href="../static/css/global.css" rel="stylesheet">
</head>
<body>
<div class="global">
    <div class="page page-current" id="page_index">
        <header class="bar bar-nav" id="header">
            <a href="javascript:;" title="" class="icons icons-more pull-left external"></a>
            <h1 class="title">北京领越有限公司</h1>
            <a href="javascript:;" title="" class="icons icons-search pull-right external"></a>
        </header>
        <div class="content has-toolbar" id="content">
            <div class="company-trunk">
                <strong class="tit">舒华</strong>
                <img src="../static/images/logo.png" title="" />
                <div class="company-info">
                    <ul>
                        <li>
                            <span class="icons icons-year"></span>
                            <span class="val">创始年代：1990</span>
                        </li>
                        <li>
                            <span class="icons icons-headimg"></span>
                            <span class="val">创始人：罗成</span>
                        </li>
                        <li>
                            <span class="icons icons-address"></span>
                            <span class="val">总部所在：中国    福建   厦门</span>
                        </li>
                        <li>
                            <span class="icons icons-category"></span>
                            <span class="val">产品分类：商品器材   家用器材</span>
                        </li>
                        <li>
                            <span class="icons icons-link"></span>
                            <span class="val">官方网址：<a href="javascript:;" title="" class="external link">http://www.jsqcw.com.cn/</a> </span>
                        </li>
                        <li>
                            <span class="icons icons-phone"></span>
                            <span class="val">联系方式：<a href="javascript:;" class="external phone">010-53669011</a> </span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="content-title">
                <i class="icons icons-company-tit"></i>
                <span class="tit">北京领越有限公司</span>
            </div>
            <div class="company-introduce-dec ">
                <strong class="tit">公司简介</strong>
                <div class="dec">2013年7月，中国健身器材网(www.jsqcw.com)域名申请成功，2014年3月1.0版本上线，2016年9月2.0更新升级，2018年4月3.0精简版全新改版上线。凭借强大的专业行业资源优势，依托运营7年的行业健身器材采购信息期刊群的整合资源厚积薄发，以提升读者品质为目标，旨在建立一个能囊括全面丰富健身器材行业的专业权威网络平台。 截至目前，中国健身器材网着力推出优质栏目；亚太评测、业界新闻、新品中心、展会活动、专题/专区等重点打造，并集合全网优势策划专题/专区栏目系列，期望能为健身群体提供更专业、更全面、更先进的网络信息服务平台。 中国健身器材网有资深的媒体背景、优秀的团队组织，坚持精/新为风格，专注于健身器材行业的专业解读，资讯、导购、互动为出发点，谋求行业创新角度和用户适用体验的高度结专题/专区以精确、清晰的内容划分为优势，针对不同需求的受众，提供专业的全方面信息，指向明确，目标性强，能使网友在较短时间里找到所需信息。</div>
                <strong class="tit">栏目介绍</strong>
                <strong class="tit">亚太评测</strong>
                <div class="dec">中国健身器材网重点栏目之一亚太评测秉着公平、公正、公开的原则,提供权威和专业的健身器材类评测,包括单品评测，价格评测，比较评测，品牌评测，搭配评测，公司评测和卖场评测，对各类端用户集中关注的评测项目进行专业测评。</div>
                <strong class="tit">专题/专区</strong>
            </div>

        </div>
        <nav class="bar bar-tab">
            <a class="tab-item external " href="javascript:;">
                <span class="icons icons-home"></span>
                <span class="tab-label">首页</span>
            </a>
            <a class="tab-item external active" href="javascript:;">
                <span class="icons icons-introduce"></span>
                <span class="tab-label">介绍</span>
            </a>
            <a class="tab-item external" href="javascript:;">
                <span class="icons icons-product"></span>
                <span class="tab-label">产品</span>
            </a>
            <a class="tab-item external" href="javascript:;">
                <span class="icons icons-news"></span>
                <span class="tab-label">资讯</span>
            </a>
            <a class="tab-item external" href="javascript:;">
                <span class="icons icons-contact"></span>
                <span class="tab-label">联系</span>
            </a>
        </nav>
    </div>
</div>
<script src="../static/js/zepto.min.js"></script>
<script src="../static/js/zepto.modules.js"></script>
<script src="../static/js/global.js"></script>
<script>
    $(function() {
        // todo
    });

</script>

</body>
</html>