<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" />
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <title>舒华</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="../static/images/favicon.ico" rel="Shortcut Icon">
    <link href="../static/css/global.css" rel="stylesheet">
</head>
<body>
<div class="global">
    <div class="page page-current" id="page_index">
        <header class="bar bar-nav" id="header">
            <a href="javascript:;" title="" class="icons icons-more pull-left external"></a>
            <h1 class="title">北京领越有限公司</h1>
            <a href="javascript:;" title="" class="icons icons-search pull-right external"></a>
        </header>
        <div class="content has-toolbar" id="content">
            <div class="company-trunk">
                <strong class="tit">舒华</strong>
                <img src="../static/images/logo.png" title="" />
            </div>
            <div class="content-title">
                <i class="icons icons-news-tit"></i>
                <span class="tit">健身器材网资讯</span>
            </div>
            <div class="news-list-inner">
                <ul class="news-list">
                    <li>
                        <div class="img"><img src="../static/temp/news.jpg"> </div>
                        <strong class="tit">新品│一台5秒内就能完成折叠的跑步 机，小乔X3了解一下。</strong>
                    </li>
                    <li>
                        <div class="img"><img src="../static/temp/news.jpg"> </div>
                        <strong class="tit">新品│一台5秒内就能完成折叠的跑步 机，小乔X3了解一下。</strong>
                    </li>
                    <li>
                        <div class="img"><img src="../static/temp/news.jpg"> </div>
                        <strong class="tit">新品│一台5秒内就能完成折叠的跑步 机，小乔X3了解一下。</strong>
                    </li>
                    <li>
                        <div class="img"><img src="../static/temp/news.jpg"> </div>
                        <strong class="tit">新品│一台5秒内就能完成折叠的跑步 机，小乔X3了解一下。</strong>
                    </li>
                    <li>
                        <div class="img"><img src="../static/temp/news.jpg"> </div>
                        <strong class="tit">新品│一台5秒内就能完成折叠的跑步 机，小乔X3了解一下。</strong>
                    </li>
                    <button type="button" class="button button-more"><span class="icons icons-arrow"></span> </button>
                </ul>
            </div>
        </div>
        <nav class="bar bar-tab">
            <a class="tab-item external " href="javascript:;">
                <span class="icons icons-home"></span>
                <span class="tab-label">首页</span>
            </a>
            <a class="tab-item external" href="javascript:;">
                <span class="icons icons-introduce"></span>
                <span class="tab-label">介绍</span>
            </a>
            <a class="tab-item external" href="javascript:;">
                <span class="icons icons-product"></span>
                <span class="tab-label">产品</span>
            </a>
            <a class="tab-item external active" href="javascript:;">
                <span class="icons icons-news"></span>
                <span class="tab-label">资讯</span>
            </a>
            <a class="tab-item external" href="javascript:;">
                <span class="icons icons-contact"></span>
                <span class="tab-label">联系</span>
            </a>
        </nav>
    </div>
</div>
<script src="../static/js/zepto.min.js"></script>
<script src="../static/js/zepto.modules.js"></script>
<script src="../static/js/global.js"></script>
<script>
    //

</script>

</body>
</html>