<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title>产品详细</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no" >
    <meta name="format-detection" content="telephone=yes" >
    <meta name=renderer content=webkit|ie-comp|ie-stand>
    <meta http-equiv=X-UA-Compatible content="IE=Edge,chrome=1">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="cache-control" content="no-cache">
    <link rel="dns-prefetch" href="">
    <link rel="stylesheet" href="../static/css/global.css" >
</head>
<body>
<div class="global">
    <div class="page page-current">
        <header class="bar bar-nav" id="header">
            <a href="javascript:;" title="" class="icons icons-more pull-left external"></a>
            <h1 class="title">北京领越有限公司</h1>
            <a href="javascript:;" title="" class="icons icons-search pull-right external"></a>
        </header>
        <div class="content has-toolbar" id="">
            <div class="top-head">
                <a href="javascript:;" title="" class="external pull-left"><i class="icons icons-leftarrow"></i> </a>
                <strong class="tit">产品详细</strong>
                <a href="javascript:;" title="" class="external pull-right"><i class="icons icons-share"></i> </a>
            </div>
            <div class="product-detail-banner" style=" background-image: url(../static/temp/product-detail-banner.jpg)"></div>
            <div class="product-detail-trunk">
                <p class="tit">全球销量第一家用跑步机--爱康百乐福品 牌 505 CST (PETL79717)评测</p>
                <p class="price">参考价格：<em>9999</em></p>
            </div>

            <div class="contrast">
                <p class="contrast-li">
                    <i class="icons icons-suning"></i>
                    <span class="name">苏宁易购</span>
                    <span class="price">¥ 8888</span>
                </p>
                <p class="contrast-li">
                    <i class="icons icons-jingdong"></i>
                    <span class="name">京东商城</span>
                    <span class="price">¥ 8888</span>
                </p>
                <p class="contrast-li">
                    <i class="icons icons-guomei"></i>
                    <span class="name">国美</span>
                    <span class="price">¥ 8888</span>
                </p>
            </div>

            <div class="evaluating">
                <a href="javascript:;" class="external" title="">
                    <span class="mark">评测</span>
                    <p class="txt">第一家用跑步机评测--爱康百乐福品牌 505 CST </p>
                    <i class="icons icons-leftarrow"></i>
                </a>
                <a href="javascript:;" class="external" title="">
                    <span class="mark">评测</span>
                    <p class="txt">第一家用跑步机评测--爱康百乐福品牌 505 CST </p>
                    <i class="icons icons-leftarrow"></i>
                </a>
            </div>
            <div class="content-title">
                <i class="icons icons-params-tit"></i>
                <span class="tit">重点参数</span>
            </div>
            <div class="params-items">
                <ul class="row">
                    <li class="col-50">
                        <i class="icons icons-params01"></i>
                        <p>一键控制启停</p>
                        <p>大屏5.84英寸</p>
                    </li>
                    <li class="col-50">
                        <i class="icons icons-params02"></i>
                        <p>连接状态显示</p>
                        <p> 1200万后双摄像头</p>
                    </li>
                    <li class="col-50">
                        <i class="icons icons-params03"></i>
                        <p>长按结束跑步</p>
                        <p>WIFI上网</p>
                    </li>
                    <li class="col-50">
                        <i class="icons icons-params04"></i>
                        <p>自动调速提示</p>
                        <p>三摄像头（后双）</p>
                    </li>
                    <li class="col-50">
                        <i class="icons icons-params05"></i>
                        <p>旋转调节速度</p>
                        <p>不可拆卸式电池</p>
                    </li>
                    <li class="col-50">
                        <i class="icons icons-params06"></i>
                        <p>灯光开跑闪烁</p>
                        <p>电容屏，多点触控</p>
                    </li>
                </ul>
                <button type="button" class="button" id="params_more">查看更多参数</button>
            </div>
            <div class="evaluate">
                <a href="javascript:;" title="" class="external">
                    <span class="txt">我要评价</span>
                    <div class="star-items star3">
                        <i class="icons icons-star"></i>
                        <i class="icons icons-star"></i>
                        <i class="icons icons-star"></i>
                        <i class="icons icons-star"></i>
                        <i class="icons icons-star"></i>
                    </div>
                </a>
            </div>

            <div class="content-title">
                <i class="icons icons-category-tit"></i>
                <span class="tit">其他产品</span>
            </div>

            <div class="other-product">
                <ul style="width: 834px;">
                    <li>
                        <a href="javascript:;" title="" class="external">
                            <div class="img"><img src="../static/temp/product04.jpg"> </div>
                            <p class="name">亿健（YIJIAN） 跑步机 家用静音多 功能折叠G900...</p>
                            <p class="price">参考价 ：¥9999</p>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;" title="" class="external">
                            <div class="img"><img src="../static/temp/product04.jpg"> </div>
                            <p class="name">亿健（YIJIAN） 跑步机 家用静音多 功能折叠G900...</p>
                            <p class="price">参考价 ：¥9999</p>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;" title="" class="external">
                            <div class="img"><img src="../static/temp/product04.jpg"> </div>
                            <p class="name">亿健（YIJIAN） 跑步机 家用静音多 功能折叠G900...</p>
                            <p class="price">参考价 ：¥9999</p>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;" title="" class="external">
                            <div class="img"><img src="../static/temp/product04.jpg"> </div>
                            <p class="name">亿健（YIJIAN） 跑步机 家用静音多 功能折叠G900...</p>
                            <p class="price">参考价 ：¥9999</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <nav class="bar bar-tab">
            <a class="tab-item external active" href="javascript:;">
                <span class="icons icons-home"></span>
                <span class="tab-label">首页</span>
            </a>
            <a class="tab-item external" href="javascript:;">
                <span class="icons icons-introduce"></span>
                <span class="tab-label">介绍</span>
            </a>
            <a class="tab-item external" href="javascript:;">
                <span class="icons icons-product"></span>
                <span class="tab-label">产品</span>
            </a>
            <a class="tab-item external" href="javascript:;">
                <span class="icons icons-news"></span>
                <span class="tab-label">资讯</span>
            </a>
            <a class="tab-item external" href="javascript:;">
                <span class="icons icons-contact"></span>
                <span class="tab-label">联系</span>
            </a>
        </nav>
    </div>
</div>
<script src="../static/js/zepto.min.js"></script>
<script src="../static/js/global.js"></script>
<script type="text/javascript">
    $(function() {

        // 更多产品参数
        $(document).on('click','#params_more', function () {
            $.modal({
                title: '产品参数',
                extraClass: 'params-model',
                afterText:  '<div class="params-more-list">'+
                '<p class="params-li">' +
                '<span class="lab">上市时间 :  </span>' +
                '<span class="val"> 2018年夏季</span>' +
                '</p>'+
                '<p class="params-li">' +
                '<span class="lab">跑步机型号 :</span>' +
                '<span class="val">  A5霸</span>' +
                '</p>'+
                '<p class="params-li">' +
                '<span class="lab">峰值马力 :  </span>' +
                '<span class="val"> 3.5hp</span>' +
                '</p>'+
                '<p class="params-li">' +
                '<span class="lab">跑带宽度 :  </span>' +
                '<span class="val"> 48-50cm（不含）</span>' +
                '</p>'+
                '<p class="params-li">' +
                '<span class="lab">配送方式 :  </span>' +
                '<span class="val">送货到家并安装</span>' +
                '</p>'+
                '<p class="params-li">' +
                '<span class="lab">货号 :  </span>' +
                '<span class="val"> A5霸</span>' +
                '</p>'+
                '<p class="params-li">' +
                '<span class="lab">颜色分类 :  </span>' +
                '<span class="val"> 蓝屏蓝牙版单功能 蓝屏蓝牙版</span>' +
                '</p>'+
                '<p class="params-li">' +
                '<span class="lab">心率测试 :  </span>' +
                '<span class="val"> 手握心率测试</span>' +
                '</p>'+
                '</div>'
            });
        });

        // 点击关闭遮罩层
        $(document).on("click",".modal-overlay",function () {
            $.closeModal();
        });
    });
</script>
</body>
</html>