<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title>产品详细</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no" >
    <meta name="format-detection" content="telephone=yes" >
    <meta name=renderer content=webkit|ie-comp|ie-stand>
    <meta http-equiv=X-UA-Compatible content="IE=Edge,chrome=1">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="cache-control" content="no-cache">
    <link rel="dns-prefetch" href="">
    <link rel="stylesheet" href="../../static/css/global.css" >
</head>
<body>
<div class="global">
    <div class="page page-current" id="">
        <header class="bar bar-nav">
            <a class="button button-link button-nav pull-left" href="javascript:;"><i class="ficon ficon-leftarrow"></i></a>
            <h1 class="title">产品详细</h1>
        </header>
        <div class="content" id="">
            <div class="top-head">
                <a href="javascript:;" title="" class="external pull-left"><i class="icons icons-leftarrow"></i> </a>
                <strong class="tit">产品详细</strong>
                <a href="javascript:;" title="" class="external pull-right"><i class="icons icons-share"></i> </a>
            </div>
            <div class="product-detail-banner">
                <div class="banner-inner" style=" background-image: url(../../static/shuhua/product-detail-banner.jpg)"></div>
            </div>
            <div class="product-detail-trunk">
                <p class="tit">全球销量第一家用跑步机--爱康百乐福品 牌 505 CST (PETL79717)评测</p>
                <p class="price">参考价格：99999 </p>
            </div>

            <div class="contrast">
                <p class="contrast-li">
                    <i class="icons icons-suning"></i>
                    <span class="name">苏宁易购</span>
                    <span class="price">¥ 8888</span>
                </p>
                <p class="contrast-li">
                    <i class="icons icons-jingdong"></i>
                    <span class="name">京东商城</span>
                    <span class="price">¥ 8888</span>
                </p>
                <p class="contrast-li">
                    <i class="icons icons-guomei"></i>
                    <span class="name">国美</span>
                    <span class="price">¥ 8888</span>
                </p>
            </div>

            <div class="evaluating">
                <a href="javascript:;" class="external" title="">
                    <i class="mark">评测</i>
                    <p class="txt">第一家用跑步机评测--爱康百乐福品牌 505 CST </p>
                    <i class="icons icons-leftarrow"></i>
                </a>
                <a href="javascript:;" class="external" title="">
                    <i class="mark">评测</i>
                    <p class="txt">第一家用跑步机评测--爱康百乐福品牌 505 CST </p>
                    <i class="icons icons-leftarrow"></i>
                </a>
            </div>

            <!-- content 标题 -->
            <div class="">重点参数</div>

        </div>
    </div>
</div>
<script src="../../static/js/zepto.min.js"></script>
<script src="../../static/js/global.js"></script>
<script type="text/javascript">
    $(function() {

    });
</script>
</body>
</html>